.header {
  background-color: var(--grey-700);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.header__content {
  display: flex;
  padding: 2rem;
  align-items: center;
}
.header__title {
  font-weight: 900;
  display: inline-block;
  background: linear-gradient(to right, var(--blue) 40%, var(--purple-dark) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 0;
}
