.new-task {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 125px;
  width: 100%;
  padding: var(--big);
}
.new-task__input {
  display: flex;
  align-items: center;
  padding: var(--middle);
  height: calc(var(--micro)+ var(--xbig));
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: var(--small);
  color: var(--gray-300);
  width: 50%;
}
.new-task__input::placeholder {
  color: var(--gray-300);
}
.new-task__input:focus-visible {
  outline: none;
  border-color: var(--purple-dark);
  color: var(--gray-100);
}
.new-task__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--small);
  height: 52px;
  background: var(--blue-dark);
  border-radius: var(--small);
  color: var(--gray-100);
  padding: var(--middle);
  cursor: pointer;
  border: none;
}
.new-task__button:hover {
  background: var(--blue);
}
.new-task__button span {
  font-size: 14px;
  font-weight: 700;
  padding-right: 8px;
}
