.task-board {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--big);
  color: var(--gray-300);
  flex-direction: column;
}

.task-status {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2rem;
  padding: 2rem 1rem;
}

.task-status div {
  display: flex;
  align-items: center;
}

.task-status__text {
  font-weight: 700;
  font-size: 14px;
  margin-right: 8px;
}
.task-status__text--blue {
  color: var(--blue);
}
.task-status__text--purple {
  color: var(--purple);
}
.task-status__badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  gap: 10px;

  width: 25px;
  height: 19px;

  background: #333333;
  border-radius: 999px;
}

.task-status__number {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--gray-200);
}

.task-board-empty {
  width: 60%;
  border-top: 1px solid var(--gray-400);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.task-board-empty svg {
  margin: 4rem 0 1rem;
}

.task-board-empty__text--bold {
  font-weight: 700;
}

.tasks {
  display: block;
  width: 60%;
}

