.task {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  align-items: baseline;
  padding: var(--middle);
  gap: 12px;
  width: 100%;
  min-height: 72px;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: var(--small);
  margin: var(--middle) 0;
}

.task input[type='checkbox'] {
  position: absolute;
  cursor: pointer;
  width: 0px;
  height: 0px;
}

.task input[type='checkbox']:before {
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid var(--blue);
  border-radius: 20px;
  top: -15px;
}
.task input[type='checkbox']:checked:before {
  content: '';
  display: block;
  position: absolute;
  width: 17px;
  height: 17px;
  border: 1px solid var(--purple-dark);
  border-radius: 20px;
  background-color: var(--purple-dark);
  transition: width 0.2s, height 0.2s, transform 0.2s;
  top: -15px;
}

.task input[type='checkbox']:before:hover {
  background-color: var(--blue-dark);
}

.task input[type='checkbox']:checked:after {
  content: '';
  display: block;
  width: var(--micro);
  height: 7px;
  border: solid var(--gray-100);
  border-width: 0 2px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -10px;
  left: 7px;
}

.task__description {
  font-size: var(--font-normal);
}
.task__description--incomplete {
  color: var(--gray-100);
}

.task__description--complete {
  text-decoration-line: line-through;
  color: var(--gray-300);
}

.task__actions {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.task__actions:hover {
  color: var(--danger);
  background-color: var(--gray-400);
}
